@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
}

button {
  font-size: 1.2 rem;
  padding: 1rem;
  margin: 0.3rem;
}

#root {
  height: 100%;
}

.storefront {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.product {
  background-color: $primary;
  border-radius: 4px;
  display: grid;
  min-height: 110px;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1.2rem 1.5rem;

  img {
    max-height: 50px;
  }
}
