@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
}

button {
  font-size: 1.2 rem;
  padding: 1rem;
  margin: 0.3rem;
}

#root {
  height: 100%;
}
